<div class="captionWrapper" id="c{{_id}}">
	<div class="image">
		<img src="{{url}}"/>
	</div>
	<div class="caption">
		{{local.caption}}
	</div>
	<div class="kudos">
		<i class="fa fa-heart"></i>{{local.cookies}} cookies
	</div>
</div>