
	<div class="image">
		<img src="{{url}}"/>
	</div>
	<div class="caption">
		{{local.caption}}
	</div>
	<div class="kudos">
		<i class="fa fa-heart"></i><span id="cNum{{id}}">{{local.cookies}}</span> cookies
	</div>