<!DOCTYPE html>
<html>
	<head>
			<meta charset="utf-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<meta name="description" content="">
			<meta name="author" content="">

			<title>Caption Quest!</title>

			<!-- Bootstrap Core CSS -->
			<link href="/css/bootstrap.min.css" rel="stylesheet">
			<link rel="stylesheet" type="text/css" href="css/field.css">

			<!-- Custom CSS -->
			<link href="/css/grown.css" rel="stylesheet">
			<link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<nav class="navbar navbar-default navbar-fixed-bottom">
			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header page-scroll">
					 <div class="container">
					<ul class="nav navbar-nav navbar-right">
						<li class="hidden">
							<a href="#page-top"></a>
						</li>
						<li>
							<a class="page-scroll" href="/home"><i class="fa fa-home fa-3x"></i></a>
						</li>
						<li>
							<a class="page-scroll" href="/field"><i class="fa fa-tree fa-3x"></i></a>
						</li>
						<li>
							<a class="page-scroll" href="/shop"><i class="fa fa-shopping-cart fa-3x"></i></a>
						</li>
						<li>
							<a class="page-scroll" href="/help"><i class="fa fa-question fa-3x"></i></a>
						</li>									
					</ul>
				</div>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
			   
			</div>
		</nav>
		<h1>Welcome to the field!</h1>
		{{{body}}}
	</body>
	
	
		<script src="/js/jquery.js"></script>
		<script src="/js/easing.js"></script>

		<!-- Bootstrap Core JavaScript -->
		<script src="/js/bootstrap.min.js"></script>

		<!-- Plugin JavaScript -->
		<script src="/js/easing.js"></script>
		<script src="/js/classie.js"></script>
		<script src="/js/cbpAnimatedHeader.js"></script>
		<!-- Custom Theme JavaScript -->
		<script src="js/grown.js"></script>
	
</html>