<head> 
	<!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/portfolio-item.css" rel="stylesheet">
</head>

<head> 
	<!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/portfolio-item.css" rel="stylesheet">
</head>

<body>

    <!-- Page Content -->
    <div class="container">
		
		
		
		<!-- Pet Header -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Welcome to the your Pets Page!
                </h1>
            </div>
        </div>
        <!-- /.row -->
		
		<!-- Pet Description -->
        <div class="row">

            <div class="col-md-8">
                <img class="img-responsive" src="img/pet/pet_flern_1.png" alt="">
            </div>

            <div class="col-md-4">
				<h3>Pet Description</h3>
				<p> The flernist pet you could ever have! </p>
				<h3>Details</h3>
                <ul>
                    <li>Likes Cherry Head Rubs</li>
                    <li>Derps Around</li>
                    <li>Super Swag Pet</li>
                </ul>
				<a href="/selectArea" class="btn btn-default">Add Pet To Home</a>
            </div>

        </div>
        <!-- /.row -->
		
		<!-- Pets -->
        <div class="row">

            <div class="col-lg-12">
                <h3 class="page-header">Choose Pet To Add</h3>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="img/pet/pet_berluun_1.png" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="img/pet/pet_blerb_1.png" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="img/pet/pet_bunurna_1.png" alt="">
                </a>
            </div>


        </div>
        <!-- /.row -->

      
	
      
    </div>
    <!-- /.container -->
	
	
    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
	
</body>