<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/submission.css">
  </head>
  <body>
    <h3>Level Complete!</h3>
    <p>Now you can earn cookies from others for your creative work!</p>
    <p>Give cookies to others for their creativity!<p>
    
    <a href="/submission" class="btn btn-xl">See Community Submissions</a>
    <br>
    <a href="/home" class="btn btn-xl">Return to Home</a>

    <script src="js/jquery.js"></script>
  </body>
</html>