<!DOCTYPE html>
<html>
	<body>
		<section id="level2">
		<h3>Field 2</h3>
			<a href="/field" class="level">Previous World</a>
			<a href="/level" class="level">Level 10</a>
			<a href="/level" class="level">Level 9</a>
			<a href="/level" class="level">Level 8</a>
			<a href="/level" class="level">Level 7</a>
			<a href="/level" class="level">Level 6</a>
			<a href="/field3" class="level">Next World</a>			
		</section>
	</body>
</html>