<!DOCTYPE html>
<html>
	<style>
		body{
			background-image: url("../img/fields/Space.jpg");
			display: block;
			width: 100%;
			height: 100%;
			background-size: cover;
			background-repeat: no-repeat;
		}
		h1, h3{
			color: #fff
		}
	</style>
	<body>
		<section id"=level3">
			<h3>The Galaxy</h3>
			<div class="square">
				<div class="content">
					<a href="/field2" class="level btn btn-primary">Prev</a>
				</div>
			</div>
			<div class="square">
				<div class="content">
				</div>
			</div>
			<div class="square">
				<div class="content">
				</div>
			</div>
			<div class="square">
				<div class="content">
				</div>
			</div>
			<div class="square">
				<div class="content">
					<a href="/level?level=15" class="level btn btn-primary">Lvl 15</a>
				</div>
			</div>
			<div class="square">
				<div class="content">
				</div>
			</div>
			<div class="square">
				<div class="content">
				</div>
			</div>
			<div class="square">
				<div class="content">
				</div>
			</div>
			<div class="square">
				<div class="content">
					<a href="/level?level=4" class="level btn btn-primary">Lvl 14</a>
				</div>
			</div>
			<div class="square">
				<div class="content">				
				</div>
			</div>
			<div class="square">
				<div class="content">
				</div>
			</div>
			<div class="square">
				<div class="content">
				</div>
			</div>
			<div class="square">
				<div class="content">
					<a href="/level?level=13" class="level btn btn-primary">Lvl 13</a>
				</div>
			</div>
			<div class="square">
				<div class="content">
				</div>
			</div>
			<div class="square">
				<div class="content">
				</div>
			</div>
			<div class="square">
				<div class="content">
				</div>
			</div>
			<div class="square">
				<div class="content">
					<a href="/level?level=12" class="level btn btn-primary">Lvl 12</a>
				</div>
			</div>
			<div class="square">
				<div class="content">
				</div>
			</div>
			<div class="square">
				<div class="content">
				</div>
			</div>
			<div class="square">
				<div class="content">
				</div>
			</div>
			<div class="square">
				<div class="content">
					<a href="/level?level=11" class="level btn btn-primary">Lvl 11</a>
				</div>
			</div>
			<div class="square">
				<div class="content">
					
				</div>
			</div>
			<div class="square">
				<div class="content">
				</div>
			</div>
			<div class="square">
				<div class="content">
				</div>
			</div>
			<div class="square">
				<div class="content">
				</div>
			</div>
			</section>
	</body>
</html>