<!DOCTYPE html>
<html>
	<style>
		body{
			background-image: url("../img/fields/Ocean.jpg");
			display: block;
			width: 100%;
			height: 100%;
			background-size: cover;
			background-repeat: no-repeat;
		}
		h1, h3{
			color: #fff
		}
	</style>
	<body>
		<section id="level2">
			<h3>The Ocean</h3>
			<div class="square">
				<div class="content">
					<a href="/field" class="level">Previous</a>
				</div>
			</div>
			<div class="square">
				<div class="content">
				</div>
			</div>
			<div class="square">
				<div class="content">
				</div>
			</div>
			<div class="square">
				<div class="content">
				</div>
			</div>
			<div class="square">
				<div class="content">
					<a href="/field3" class="level">Next</a>
				</div>
			</div>
			<div class="square">
				<div class="content">
				</div>
			</div>
			<div class="square">
				<div class="content">
				</div>
			</div>
			<div class="square">
				<div class="content">
				</div>
			</div>
			<div class="square">
				<div class="content">
					<a href="/level" class="level">Level 10</a>
				</div>
			</div>
			<div class="square">
				<div class="content">				
				</div>
			</div>
			<div class="square">
				<div class="content">
				</div>
			</div>
			<div class="square">
				<div class="content">
				</div>
			</div>
			<div class="square">
				<div class="content">
					<a href="/level" class="level">Level 8</a>
				</div>
			</div>
			<div class="square">
				<div class="content">
					<a href="/level" class="level">Level 9</a>
				</div>
			</div>
			<div class="square">
				<div class="content">
				</div>
			</div>
			<div class="square">
				<div class="content">
				</div>
			</div>
			<div class="square">
				<div class="content">
					<a href="/level" class="level">Level 7</a>
				</div>
			</div>
			<div class="square">
				<div class="content">
				</div>
			</div>
			<div class="square">
				<div class="content">
				</div>
			</div>
			<div class="square">
				<div class="content">
				</div>
			</div>
			<div class="square">
				<div class="content">
					<a href="/level" class="level">Level 6</a>
				</div>
			</div>
			<div class="square">
				<div class="content">
					
				</div>
			</div>
			<div class="square">
				<div class="content">
				</div>
			</div>
			<div class="square">
				<div class="content">
				</div>
			</div>
			<div class="square">
				<div class="content">
				</div>
			</div>
		</section>
	</body>
</html>