<!DOCTYPE html>
<html>
	<body>
		<h3>Field 1</h3>
			<a href="/level" class="level">Level 5</a>
			<a href="/level" class="level">Level 4</a>
			<a href="/level" class="level">Level 3</a>
			<a href="/level" class="level">Level 2</a>
			<a href="/level" class="level">Level 1</a>
			<a href="/field2" class="level">Next World</a>
		</section>
	</body>
</html>