<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="css/field.css">
	</head>
	<body>
		<h1>Welcome to the field!</h1>
		<br>
		<h3>Levels 1-5</h3>
		<div class="field">
			<a href="/level" class="level">Level 5</a>
			<a href="/level" class="level">Level 4</a>
			<a href="/level" class="level">Level 3</a>
			<a href="/level" class="level">Level 2</a>
			<a href="/level" class="level">Level 1</a>
		</div>
	</body>
</html>