<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="css/gallery.css">
	</head>
	<body>
		<h1>Welcome to your gallery!</h1>

		{{#each gallery}}
		<div class="captionWrapper" id="c{{_id}}">
			<div class="image">
				<img src="{{local.path}}"/>
			</div>
			<div class="caption">
				{{local.caption}}
			</div>
			<div class="kudos">
				<i class="fa fa-heart"></i>{{local.cookies}} cookies
			</div>
		</div>
		{{/each}}
	</body>
</html>