<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="css/gallery.css">
	</head>
	<body>
		<h1>Welcome to your gallery!</h1>
		<div class="captionWrapper" id="{{id}}">
			<div class="image">
				<img src="{{image}}"/>
			</div>
			<div class="caption">
				{{caption}}
			</div>
			<div class="kudos">
				<i class="fa fa-heart"></i>{{cookies}} cookies
			</div>
		</div>
	</body>
</html>