<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="css/gallery.css">
	</head>
	<body>
		<h1>Welcome to your gallery!</h1>

		{{#each gallery}}
		<div class="captionWrapper" id="c{{id}}">
		{{> galleryPartial}}
		</div>
		{{/each}}
	</body>
</html>