<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="css/gallery.css">
	</head>
	<body>
		<h1>Welcome to your gallery!</h1>
		<div class="captionWrapper">
			<div class="image">
				<img src="http://placekitten.com/g/500/500"/>
			</div>
			<div class="caption">
				"Because everything's better with your #besties! #sincedayone #tbt"
			</div>
			<div class="kudos">
				<i class="fa fa-heart"></i>15 kudos
			</div>
		</div>

		<div class="captionWrapper">
			<div class="image">
				<img src="http://placekitten.com/g/500/500"/>
			</div>
			<div class="caption">
				"Because everything's better with your #besties! #sincedayone #tbt"
			</div>
			<div class="kudos">
				<i class="fa fa-heart"></i>15 kudos
			</div>
		</div>

		<div class="captionWrapper">
			<div class="image">
				<img src="http://placekitten.com/g/500/500"/>
			</div>
			<div class="caption">
				"Because everything's better with your #besties! #sincedayone #tbt"
			</div>
			<div class="kudos">
				<i class="fa fa-heart"></i>15 kudos
			</div>
		</div>

		<div class="captionWrapper">
			<div class="image">
				<img src="http://placekitten.com/g/500/500"/>
			</div>
			<div class="caption">
				"Because everything's better with your #besties! #sincedayone #tbt"
			</div>
			<div class="kudos">
				<i class="fa fa-heart"></i>15 kudos
			</div>
		</div>

		<div class="captionWrapper">
			<div class="image">
				<img src="http://placekitten.com/g/500/500"/>
			</div>
			<div class="caption">
				"Because everything's better with your #besties! #sincedayone #tbt"
			</div>
			<div class="kudos">
				<i class="fa fa-heart"></i>15 kudos
			</div>
		</div>

		<div class="captionWrapper">
			<div class="image">
				<img src="http://placekitten.com/g/500/500"/>
			</div>
			<div class="caption">
				"Because everything's better with your #besties! #sincedayone #tbt"
			</div>
			<div class="kudos">
				<i class="fa fa-heart"></i>15 kudos
			</div>
		</div>
	</body>
</html>