<style>
	.content {
		padding-bottom: 100px;
	}
</style>
<div class="content">
<h1>Welcome to Caption Quest!</h1>

<i>Derps are cute little creatures that roam about this wondrous world; feed them your Cookies and collect them all to become the ultimate Derp Master!</i>





<h3>Home</h3>
<p>This is where you can play with your collected Derps. Press the Add Pet button in the top right to add your collected Derps to your Home, and then tap on each pet to tickle them!</p>





<h3>Field</h3>
<p>You must venture out into the Field to complete levels by matching captions. Each level has a fun caption that you can upload a picture to match. Use your creativity! You can upload a photo, a drawing, a sculpture, a snapshot of a performance… anything you can imagine!</p>



<p>After you upload a picture, your caption creation will be shown to the community, and you will be able to see others’ submissions. Press “Give a cookie!” on a caption creation if you think it’s especially creative. The owner of that creation will then receive a cookie! When others think your creation is especially creative, you will get cookies too.</p>





<h3>Store</h3>
<p>Here, you can buy Derps with your cookies! Once you buy them, they are yours and can be added to your Home.</p>





<h2>Enjoy your adventure! </h2>
</div>