<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="css/home.css">
	</head>
	</body>
	<div class="background">
		<ul class="top-buttons">
			<li><a href="/gallery" class="fa fa-picture-o fa-3x icons"><p class="utext">Gallery</p></a></li>
			<li><a href="#" class="fa fa-info icons fa-3x" data-toggle="modal" data-target="#tutorial" onclick="tutorial()"><p class="utext">Tutorial</p></a></li>
		</ul>
		<div class="grid">
			{{#each pets}}
			{{#if bought}}
			<div class="square">
				<div class="content">
						<img class="img-responsive portfolio-item" src="{{picture}}" onclick="play(this)" alt="">
				</div>
			</div>
			{{/if}}
			{{/each}}
			<div class="modal fade" id="tutorial" tabindex="-1" role="dialog" aria-labelledby="Tutorial">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <h4 class="modal-title" id="myModalLabel">Tutorial Mode</h4>
			      </div>
			      <div class="modal-body">
			        Would you like to go through the tutorial?
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal" id="quit">No</button>
			        <button type="button" class="btn btn-primary" id="cont" onclick="tutorial()">Yes</button>
			      </div>
			    </div>
			  </div>
			</div>
		</div>
	</div>
	<script src="js/jquery.js"></script>
	{{#if tutorial}}
	<script>
		$(window).load(function() {
			$("#tutorial").modal('show');
		});
	</script>
	{{/if}}
	<script src="js/home.js"></script>
	</body>
</html>