<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="css/home.css">
	</head>
	<div class="background">
		<div class="grid">
			<div class="square">
				<div class="content">
				</div>
			</div>
			<div class="square">
				<div class="content">
					<img class="img-responsive portfolio-item" src="img/pet/pet8_berluun1.png" onclick="play(this)" alt="">
				</div>
			</div>
			<div class="square">
				<div class="content">
				</div>
			</div>
			<div class="square">
				<div class="content">

				</div>
			</div>
			<div class="square">
				<div class="content">

				</div>
			</div>
			<div class="square">
				<div class="content">
					<ul>
						<li><a href="/addPets" class="btn btn-default" >Add Pets</a></li>
						<li><a href="#" class="btn btn-default" >Pet Book</a></li>
						<li><a href="/gallery" class="btn btn-default">Gallery</a></li>
					</ul>
				</div>
			</div>
			<div class="square">
				<div class="content">
					<img class="img-responsive portfolio-item" src="img/pet/pet8_blerb1.png" onclick="play(this)" alt="">
				</div>
			</div>
			<div class="square">
				<div class="content">

				</div>
			</div>
			<div class="square">
				<div class="content">
					<img class="img-responsive" src="img/pet/pet8_flern1.png" onclick="play(this)" alt="">
				</div>
			</div>

		</div>
	</div>
	<script src="js/home.js"></script>
</html>