<!-- Header -->
    <header>
        <div class="container">
            <div class="intro">
                <div class="intro-head">CaptionQuestion</div>
                <div class="intro-subhead"></div>
                <a href="#home" class="page-scroll btn btn-xl">Begin Mission</a>
            </div>
        </div>
    </header>
    

