<!-- Header -->
    <header>
        <div class="container">
            <div class="intro">
                <div class="intro-subhead">Caption Quest</div>
                <div class="intro-head">Use your creativity to match captions in a quest to become the ultimate Derp Master!</div>
				<form action="/" method="post">
					<input type="text" name="email" placeholder="email"/><br><br>
					<input type="password" name="password" placeholder="password"/><br><br>
					<input type="submit" value="Submit"><br><br>
				</form>
        
                <a href="/signup" class="page-scroll btn btn-xl">Sign up</a>
            </div>
        </div>
    </header>
    

