<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="css/level.css">
	</head>
	<body>
		<a href="/field"> << Back to the field </a>
		<div class="captionWrapper">
			<div class="image">
				<input type="file" id="fileUpload">
				<button class="upload">Upload <i class="fa fa-camera"></i></button>
			</div>
			<div class="caption">
				"Because everything's better with your #besties! #sincedayone #tbt"
			</div>
			<button class="submitButton">Submit</button>
		</div>
		<script src="js/jquery.js"></script>
		<script src="js/level.js"></script>
	</body>
</html>