<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="css/level.css">
	</head>
	<body>
		<a href="/field"> << Back to the field </a>
		<div class="captionWrapper">
			<div class="image">
				<button class="upload">Upload an image</button>
			</div>
			<div class="caption">
				"Because everything's better with your #besties! #sincedayone #tbt"
			</div>
			<button class="submitButton">Submit</button>
		</div>
	</body>
</html>