<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="css/home.css">
	</head>
	<div class="background">
		<div class="grid">
			<div class="square">
				<div class="content">
					<a href="/home" class="btn btn-default">Add Pet Here</a>
				</div>
			</div>
			<div class="square">
				<div class="content">
					<a href="/home" class="btn btn-default">Add Pet Here</a>
				</div>
			</div>
			<div class="square">
				<div class="content">
					<a href="/home" class="btn btn-default">Add Pet Here</a>
				</div>
			</div>
			<div class="square">
				<div class="content">
					<a href="/home" class="btn btn-default">Add Pet Here</a>
				</div>
			</div>
			<div class="square">
				<div class="content">
					<a href="/home" class="btn btn-default">Add Pet Here</a>
				</div>
			</div>
			<div class="square">
				<div class="content">
					<a href="/home" class="btn btn-default">Add Pet Here</a>
				</div>
			</div>
			<div class="square">
				<div class="content">
					<a href="/home" class="btn btn-default">Add Pet Here</a>
				</div>
			</div>
			<div class="square">
				<div class="content">
					<a href="/home" class="btn btn-default">Add Pet Here</a>
				</div>
			</div>
			<div class="square">
				<div class="content">
					<a href="/home" class="btn btn-default">Add Pet Here</a>
				</div>
			</div>

		</div>
	</div>
</html>