<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="css/home.css">
	</head>
	<div class="background">
		<div class="grid">
			<div class="square">
				<div class="content">
					<a href="/addPets?location=1" class="btn btn-default">Add Pet Here</a>
				</div>
			</div>
			<div class="square">
				<div class="content">
					<a href="/addPets?location=2" class="btn btn-default">Add Pet Here</a>
				</div>
			</div>
			<div class="square">
				<div class="content">
					<a href="/addPets?location=3" class="btn btn-default">Add Pet Here</a>
				</div>
			</div>
			<div class="square">
				<div class="content">
					<a href="/addPets?location=4" class="btn btn-default">Add Pet Here</a>
				</div>
			</div>
			<div class="square">
				<div class="content">
					<a href="/addPets?location=5" class="btn btn-default">Add Pet Here</a>
				</div>
			</div>
			<div class="square">
				<div class="content">
					<a href="/addPets?location=6" class="btn btn-default">Add Pet Here</a>
				</div>
			</div>
			<div class="square">
				<div class="content">
					<a href="/addPets?location=7" class="btn btn-default">Add Pet Here</a>
				</div>
			</div>
			<div class="square">
				<div class="content">
					<a href="/addPets?location=8" class="btn btn-default">Add Pet Here</a>
				</div>
			</div>
			<div class="square">
				<div class="content">
					<a href="/addPets?location=9" class="btn btn-default">Add Pet Here</a>
				</div>
			</div>

		</div>
	</div>
</html>