<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="css/shop.css">
	</head>
	<body>
		<h1>Welcome to the shop!</h1>
		<div class="content">
			<div class="product">
				<div class="image">
					<img src="http://placehold.it/100x100"/>
				</div>
				<div class="price">
					50 coins
				</div>
				<button class="buy">Buy</button>
			</div>
						<div class="product">
				<div class="image">
					<img src="http://placehold.it/100x100"/>
				</div>
				<div class="price">
					50 coins
				</div>
				<button class="buy">Buy</button>
			</div>
						<div class="product">
				<div class="image">
					<img src="http://placehold.it/100x100"/>
				</div>
				<div class="price">
					50 coins
				</div>
				<button class="buy">Buy</button>
			</div>
						<div class="product">
				<div class="image">
					<img src="http://placehold.it/100x100"/>
				</div>
				<div class="price">
					50 coins
				</div>
				<button class="buy">Buy</button>
			</div>
						<div class="product">
				<div class="image">
					<img src="http://placehold.it/100x100"/>
				</div>
				<div class="price">
					50 coins
				</div>
				<button class="buy">Buy</button>
			</div>
						<div class="product">
				<div class="image">
					<img src="http://placehold.it/100x100"/>
				</div>
				<div class="price">
					50 coins
				</div>
				<button class="buy">Buy</button>
			</div>
						<div class="product">
				<div class="image">
					<img src="http://placehold.it/100x100"/>
				</div>
				<div class="price">
					50 coins
				</div>
				<button class="buy">Buy</button>
			</div>
						<div class="product">
				<div class="image">
					<img src="http://placehold.it/100x100"/>
				</div>
				<div class="price">
					50 coins
				</div>
				<button class="buy">Buy</button>
			</div>
		</div>
	</body>
</html>