<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
		<h1>Sign up for an account!</h1>
		<div class="content">
			<form action="/signup" method="post">
				<label for="email">Email: </label><input type="text" name="email"/><br>
				<label for="password">Password: </label><input type="password" name="password"/><br>
				<input type="submit" value="Submit"><br><br>
			</form>
			<a href="/home" class="page-scroll btn btn-xl">Sign up</a>
		</div>
	</body>
</html>