<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
		<h1>Sign up for an account!</h1>
		<div class="content">
			<label for="username">Name: </label><input type="text" name="username"/><br>
			<label for="email">Email: </label><input type="text" name="email"/><br>
			<label for="password">Password: </label><input type="password" name="password"/><br>
			<a href="/help" class="page-scroll btn btn-xl">Sign up</a>
		</div>
	</body>
</html>