<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="css/submission.css">
	</head>
	<body>
		<h2>Community Submissions</h2>
		<p>Give others cookies for their creativity! (Giving cookies to others does not deplete your own supply)</p>
		{{#each gallery}}
		<div class="captionWrapper" id="submission{{id}}">
			{{> galleryPartial}}
			<button class="btn btn-primary btn-center cookieButton" id="cookie{{id}}">Give Cookies</button>
		</div>
		{{/each}}
		<script src="js/jquery.js"></script>
		<script src="js/submission.js"></script>
	</body>
</html>