.level {
	display: block;
	width: 100px;
	height: 60px;
	border-radius: 50%;
	background-color: #33cccc;
	color: #fff;
	text-align: center;
	line-height: 60px;
}

.level:hover {
	background-color: #1f7a7a;
}