html{
	height: 100vh;
}

@font-face{
    font-family: 'Source Sans Pro', sans-serif;
}
 
body {
    overflow-x: hidden;
    font-family: 'Source Sans Pro', sans-serif;
	margin: 0;
	padding-left:150px;
	padding-right:150px;
	padding-top: 70px;
	height: 100vh;
}

@media(max-width:1300px) {
body{
    overflow-x: hidden;
    font-family: 'Source Sans Pro', sans-serif;
	margin: 0;
	padding-left:25px;
	padding-right:25px;
	padding-top: 50px;
	height:100vh;
}

}

.text-grayed {
    color: #777;
}

.block-text{
    text-align: center;
	
}

.thumb{
   margin-bottom: 30px;
}

.text-primary {
    color: #4ecdc4;
}

p {
    font-size: 14px;
    line-height: 1.75;
}

p.large {
    font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
}

a {
    color: #4ecdc4;
}

a:hover,
a:focus,
a:active,
a.active {
    color: #4ecdc4;
}

.caption-quest {
    text-transform: uppercase;
    font-family: 'Sigmar One', cursive;
    font-size: 22px;
    line-height: 50px;
}

.logout {
    text-transform: uppercase;
    font-family: 'Hammersmith One', sans-serif;
    font-size: 18px;
    right: 18px;
    position: absolute;
    display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: 'Hammersmith One', sans-serif;
    font-weight: 400;
}

.img-centered {
    margin: 0 auto;
}

.background-gray {
    background-color: #f7f7f7;
}



.background-darkgray {
    background-color: #fff;
}

.btn-margin {
    margin: 10px;
}

.btn-center {
    margin: 0px auto;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
}

.btn-default {
    text-transform: uppercase;
    font-family: 'Hammersmith One', sans-serif;
    font-weight: 700;
}

.btn-primary {
    border-color: #4ecdc4;
    text-transform: uppercase;
    font-family: 'Hammersmith One', sans-serif;
    font-weight: 700;
    color: #556270;
    background-color: #4ecdc4;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    border-color: #4ecdc4;
    color: #556270;
    background-color: #4ecdc4;
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    border-color: #4ecdc4;
    background-color: #4ecdc4;
}

.btn-primary .badge {
    color: #4ecdc4;
    background-color: #556270;
}

.btn-xl {
    padding: 20px 40px;
    border-color: #4ecdc4;
    border-radius: 3px;
    text-transform: uppercase;
    font-family: 'Hammersmith One', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #556270;
    background-color: #4ecdc4;
}

.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    border-color: #4ecdc4;
    color: #556270;
    background-color: #4ecdc4;
}

.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    background-image: none;
}

.btn-xl.disabled,
.btn-xl[disabled],
fieldset[disabled] .btn-xl,
.btn-xl.disabled:hover,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl:hover,
.btn-xl.disabled:focus,
.btn-xl[disabled]:focus,
fieldset[disabled] .btn-xl:focus,
.btn-xl.disabled:active,
.btn-xl[disabled]:active,
fieldset[disabled] .btn-xl:active,
.btn-xl.disabled.active,
.btn-xl[disabled].active,
fieldset[disabled] .btn-xl.active {
    border-color: #4ecdc4;
    background-color: #4ecdc4;
}

.btn-xl .badge {
    color: #4ecdc4;
    background-color: #556270;
}

.navbar-default {
    border-color: transparent;
    background-color: #c7f464;
}

.navbar-default .navbar-brand {
    font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
    color: #FF6B6B;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
    color: #FF6B6B;
}

.navbar-default{
    border-color: rgba(255,255,255,.02);
}

.navbar-default .navbar-toggle {
    border-color: #FF6B6B;
    background-color: #FF6B6B;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #FF6B6B;

}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #FF6B6B;
}

.navbar-default .nav li a {
    text-transform: uppercase;
    font-family: 'Hammersmith One', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    color: #556270;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    outline: 0;
    color: #ff6b6b;
}

.navbar-default .navbar-nav>.active>a {
    border-radius: 0;
    color: #556270;
    background-color: #FF6B6B;
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #556270;
    background-color: #FF6B6B;
}

.navbar-collapse.collapse {
display: block!important;
}

.navbar-nav>li, .navbar-nav {
float: left !important;
}

.navbar-nav.navbar-right:last-child {
margin-right: -15px !important;
}

.navbar-right {
float: right!important;
}


ul.nav {
    width:100%;
    margin:0;
    padding:0;
}
.nav li { 
    
    width:25%;
    margin:0;
    padding:0;
}

@media(min-width:768px) {
    .navbar-default {
	    padding: 10px;
        border: 0;
        background-color: #c7f464;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-default .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-default .navbar-nav>.active>a {
        border-radius: 3px;
    }

    .navbar-default {
        padding: 10px 0;
        background-color: #c7f464;
    }

    .navbar-default .navbar-brand {
        font-size: 1.5em;
    }
	
	

}

header {
    text-align: center;
    color: #556270;
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header .intro {
    padding-top: 100px;
    padding-bottom: 50px;
}

header .intro .intro-head {
    margin-bottom: 25px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 22px;
    line-height: 22px;
}

header .intro .intro-subhead {
    margin-bottom: 25px;
    text-transform: uppercase;
    font-family: 'Sigmar One', cursive;
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
}

@media(min-width:768px) {
    header .intro {
        padding-top: 300px;
        padding-bottom: 200px;
    }

    header .intro .intro-head {
        margin-bottom: 25px;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 40px;
        font-style: italic;
        line-height: 40px;
    }

    header .intro .intro-subhead {
        margin-bottom: 50px;
        text-transform: none;
        font-family: 'Sigmar One', cursive;
        font-size: 75px;
        line-height: 75px;
    }
}



section {
    padding: 0px 0;
}

section h2.secthead {
    margin-top: 0;
    margin-bottom: 0px;
    font-size: 26px;
}

section h3.sectsub {
    margin-bottom: 0px;
	text-transform: none; 
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding-right: 10px; 
}



@media(min-width:768px) {
    section {
        padding: 0px 0;
    }
	
	section h2.secthead {
    margin-top: 0;
    margin-bottom: 0px;
    font-size: 40px;
    }

    section h3.sectsub {
    margin-bottom: 0;
	text-transform: none; 
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 22px;
    font-weight: 400;
    padding-right: 10px; 
    }
}

.service-heading {
    margin: 15px 0;
    text-transform: none;
}



footer {
    padding: 25px 0;
    text-align: center;
}

footer span.copyright {
    text-transform: uppercase;
    text-transform: none;
    font-family: 'Hammersmith One', sans-serif;
    line-height: 40px;
}

footer ul.quicklinks {
    margin-bottom: 0;
    text-transform: uppercase;
    text-transform: none;
    font-family: 'Hammersmith One', sans-serif;
    line-height: 40px;
}

ul.social-buttons {
    margin-bottom: 0;
}

ul.social-buttons li a {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    outline: 0;
    color: #556270;
    background-color: #fff;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
    background-color: #0066FF;
	

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
    outline: 0;
}


::-moz-selection {
    text-shadow: none;
    background: #4ecdc4;
}

::selection {
    text-shadow: none;
    background: #4ecdc4;
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

body {
    webkit-tap-highlight-color: #4ecdc4;
}

.wordmark {
    width: 100;
}

.float-right {
    float:right;
    display:inline-block;
    width:20%;
}

.float-left {
    float:left;
}

.main-icon {
    font-size: 30px;
}
