.background {
	background-image: url("../img/house.jpg");
	display: block;
	width: 100%;
	height: 1000px;
	background-size: cover;
	background-repeat: no-repeat;
}

.square {
    float:left;
    position: relative;
    width: 30%;
    padding-bottom: 45%; /* = width for a 1:1 aspect ratio */
    margin:0%;
    overflow:hidden;
}

.content {
    position:absolute;
    height:80%; /* = 100% - 2*10% padding */
    width:90%; /* = 100% - 2*5% padding */
    padding: 10% 5%;
}

ul{
	list-style: none;

}

li.button{
	font-size:auto;
}


