a {
	display: block;
	text-align: center;
}
.captionWrapper {
	display: block;
	margin: 0px auto;
}

#imageWrapper {
	display: block;
	width: 100%;
	margin: 0px auto;
	margin-top: 30px;
	border: 5px dashed #cccccc;
	background-size: 100%;
	background-repeat: no-repeat;
}

.caption {
	display: block;
	width: 80%;
	margin: 0px auto;
	margin-top: 20px;
}

.upload {
	display: block;
	width: 40%;
	margin: 0px auto;
	background-color: #33cccc;
	color: #fff;
	font-size: 20px;
	margin-top: 30%;
	margin-bottom: 30%;
}

.submitButton {
	display: block;
	width: 100%;
	height: 50px;
	margin: 0px auto;
	background-color: #33cccc;
	color: #fff;
	font-size: 20px;
	margin-top: 50px;
	margin-bottom: 20px;
}

.caption {
	width: 100%;
	height: 50px;
}